{% load product_extras %}

<div class="card mb-2">
  <div class="card-header">
    <div class="row">

      <div class="col-4">
        <div class="text-uppercase">
          Pedido realizado
        </div>
        <div class="">
          {{ order.created_at }}
        </div>
      </div>

      <div class="col-4">
        <div class="text-uppercase">
          Total
        </div>
        <div class="">
          {{ order.total | price_format }}
        </div>
      </div>

      <div class="col-4">
        <div class="text-uppercase">
          Envíado a
        </div>
        <div class="">
          {{ order.shipping_address }}
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
    {% for cp in order.cart.products_related %}
      {% with product=cp.product %}
        <div class="row">
          <div class="col-4">
            {% if product.image %}
              <img src="{{ product.image.url }}" alt="" width="60" height="60">
            {% endif %}
          </div>
          <div class="col-4">
            <div class="">
              {{ product.title }}
            </div>
            <div class="text-danger">
              {{ product.price | price_format }}
            </div>
          </div>
          <div class="col-4">
            <div class="">
              Cantidad
            </div>
            <div class="">
              {{ cp.quantity }}
            </div>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
</div>
