{% load product_extras %}

<div class="row mt-2">
  <div class="col-2">
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="Imagen del producto" width="60" height="60">
    {% endif %}
  </div>
  <div class="col">
    <div class="row">
      <strong>
        <a href="{% url 'products:product' product.slug %}">{{ product.title }}</a>
      </strong>
    </div>
    <div class="row">
      <strong class="text-danger">{{ product.price | price_format }}</strong>
    </div>
  </div>
</div>
