{% extends 'base.html' %}

{% block breadcrumb %}
  {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
  <div class="col">
    {% if shipping_address %}
      <div class="h3">
        Recoge el pedido en el punto de entrega
      </div>
      <div class="">
        {% include 'shipping_addresses/snippets/shipping_address.html' %}

        <div class="mt-2">
          <a href="{% url 'orders:payment' %}" class="btn btn-warning">Entregar a esta dirección</a>
        </div>

        {% if can_choose_address %}
          <div class="mt-2">
            <a href="{% url 'orders:select_address' %}">Otra dirección</a>
          </div>
        {% endif %}

      </div>
    {% else %}
      <div class="h3">
        Registra tu dirección de envío
      </div>
      <div class="">
        {% url 'orders:address' as next_url %}
        <a href="{% url 'shipping_addresses:create' %}?next={{ next_url }}">Nueva dirección de envío</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
