{% extends 'base.html' %}

{% block content %}
  <div class="col-3">
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="Imagen del producto" width="200" height="200">
    {% endif %}
  </div>

  <div class="col">
    <div class="h2">{{ product.title }}</div>
    <div class="h5 font-weight-bold">
      Precio: <span class="text-danger">{{ product.price }}</span>
    </div>
    <div class="">
      <p>{{ product.description }}</p>
    </div>
    <div class="">
      {% include 'carts/snippets/add.html' %}
    </div>
  </div>
{% endblock %}
